{% extends 'base.html' %}
{% load static %}
{% block cssjs %}
<link rel="stylesheet" type="text/css" href="{% static 'css/progressbar.css' %}">
{% endblock %}

{% block main %}
<main>
	<div class="display-area">
		<div class="hit-ratio">
			<div class="progress" id="progress"></div>
			<caption>LRU Hit Ratio</caption>
		</div>
		<div class="miss-show">
			{% for each_address in lru_address_list %}
			{% if each_address.is_load is 1 %}
			<span class="evit">{{each_address.num}}</span>
			{% else %}
			<span>{{each_address.num}}</span>
			{% endif %}
			{% if not forloop.last %}
				,
			{% endif %}
			{% endfor %}
		</div>
	</div>

<script type="text/javascript" src="{% static 'js/progressbar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/progressbar.min.js' %}"></script>
<script>
	window.onload = function onLoad() {
    var circle = new ProgressBar.Circle('#progress', {
        color: '#333233',
        duration: 3000,
        easing: 'easeInOut',
        strokeWidth: 5,
        text: {
        // Initial value for text.
        // Default: null
        value: {{lru_hit_ratio}}+'%',

        // Class name for text element.
        // Default: 'progressbar-text'
        className: 'progressbar__label',

        // Inline CSS styles for the text element.
        // If you want to modify all CSS your self, set null to disable
        // all default styles.
        // If the style option contains values, container is automatically
        // set to position: relative. You can disable behavior this with
        // autoStyleContainer: false
        // If you specify anything in this object, none of the default styles
        // apply
        // Default: object speficied below
        style: {
            // Text color.
            // Default: same as stroke color (options.color)
            color: '#333233',
            position: 'absolute',
            left: '50%',
            top: '50%',
            padding: 0,
            margin: 0,
            // You can specify styles which will be browser prefixed
            transform: {
                prefix: true,
                value: 'translate(-50%, -50%)'
            }
        },

        // Only effective if the text.style is not null
        // By default position: relative is applied to container if text
        // is set. Setting this to false disables that feature.
        autoStyleContainer: true,

        // Only effective if the shape is SemiCircle.
        // If true, baseline for text is aligned with bottom of
        // the SVG canvas. If false, bottom line of SVG canvas
        // is in the center of text.
        // Default: true
        alignToBottom: true
    },
    });
    circle.animate({{lru_hit_ratio}}/100);
};
</script>
</main>
{% endblock %}
